<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://vip.d0.baidupan.com/file/?UzVWaFxtV2ZRWFNrAzYFaVRrAzsAC1M0UTpVNlxnUiEGZ1VvC3ZVWQZwVjVRK1NiBnJQZ18uAWpXIFE2XCYAZ1M6Vm1cZFdcUW5TYQNqBTNUPQM1AG9TZ1FgVWZcJlI1BnVVPwtvVTcGZlYyUTZTYAZvUGZfJgFzVyBRalwyADFTYlY4XC5XM1E0UyoDZwUyVCEDPgBvU2dRM1VgXGZSNwY3VWYLYVU5BmVWNlExU2MGaVAxX2MBMldjUW9cZgA0U2JWNlxiVzFRP1M9A2AFZlRoAygANlMhUTdVdVx1UiAGY1VwCz9VZQZtVjhRMFNmBmxQZl83ASVXJFE+XG0AZFM1VjxcMFc2UTJTNANvBTJUPAM2AGZTYlF4VXVcdVIjBjtVMwt4</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>Telegram X 5.0.2在线安装包</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Telegram X 5.0.2在线安装</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
